<!-- modified https://raw.githubusercontent.com/rundocs/jekyll-rtd-theme/master/_includes/addons.liquid -->
<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
        <span class="fa fa-book"> {{ site.title }}</span>
        <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
        <dl>
            <dt>Github:</dt>
            <dd><a href="{{ site.github.repository_url }}"><i class="fa fa-github"></i> Homepage</a></dd>
            <dd><a href="{{ site.github.issues_url }}"><i class="fa fa-question-circle-o"></i> Issues</a>
        </dl>
        <hr>
        <small>
            <span>
                Built with
                <a href="https://jekyllrb.com/">Jekyll</a>
                using the
                <a href="https://github.com/rundocs/jekyll-rtd-theme">jekyll-rtd-theme</a> (MIT)
            </span>
        </small>
    </div>
</div>
